<div class="row">
            <a href="/"><img class="logo col-lg-1" src="/assets/images/logo.png" alt="Store Fron" /></a>
            <nav class="header-nav col-lg-5 col-lg-offset-3">
                <a href="/" class="active dropdown-toggle">HOME</a>
                <a href="/" class="dropdown-toggle">SHOP<b class="caret"></b></a>
                <a href="/" class="dropdown-toggle">JOURNAL</a>
                <a href="/" class="dropdown-toggle">MORE<b class="caret"></b></a>
            </nav>
            
</div>