<div>
    <div class="banner">
        <div class="container-fluid  image-container col-lg-12">  
        <img src= "/assets/images/plates-header.jpg"/>
        <div class="category">
            <div class="title">Plates</div>
            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at purus pulvinar, placerat turpis ac, interdum metus. In eget massa sed enim hendrerit auctor a eget arcu. Curabitur ac pharetra nisl, sit amet mattis dolor</div>
        </div>
        </div>
    </div>
    <product-list [products]="products"></product-list>
</div>